@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@theme {
  --color-yellow: #ffb400;
  --color-semiGrey: #2a2a2a;
  --color-darkGrey: #1c1c1c;
  --color-white: #ffffff;
  --color-liteGrey: #cccccc;
  --font-pop: "Poppins";
}
body {
  font-family: "Poppins"; /* Default font for your app */
}
